.home__img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 100%;
    margin-bottom: -150px;
    z-index: -1;
}

.home {
    max-width: 1450px;
    margin-inline: auto;
}

.products__row {
    display: flex;
    margin-inline: 10px;
}

.books__row {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-inline: 20px;
    gap: 2.25rem;
    overflow: overlay;
    position: relative;
    margin-top: 1rem;
}

.books__row::-webkit-scrollbar {
    display: none;
}

.arrow {
    position: absolute;
    border: none;
    outline: none;
    opacity: .3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backArrow {
    left: 0;
}

.forwardArrow {
    right: 0;
}

.arrow:hover {
    opacity: .7;
    transition: .3s ease-in-out;
}

.deals__row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-inline: 20px;
}

.deal__card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 21rem;
    margin-bottom: 2rem;
    z-index: 2;
    justify-content: space-around;
    padding-inline: 20px;
    width: 20rem;
}

.deal__card>a {
    text-decoration: none;
    font-size: 12px;
    color: #007185;
}

.deals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .75rem;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
}

.prime__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-inline: 1rem;
}

.prime__card {
    background-color: #fff;
    position: relative;
    max-height: 21rem;
}

.prime__card h3,
.prime__card span,
.prime__card a {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    text-decoration: none;
}

.prime__card span {
    position: absolute;
    top: 2.5rem;
    color: #fff;
}


.prime__card a {
    position: absolute;
    top: 17rem;
    z-index: 4;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.prime__card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prime__card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .3;
}

@media screen and (max-width: 1260px){
    
    .deal__card:nth-child(4){
        display: none;
    }

    .prime__card{
        width: 21rem;
    }

    .prime__card > h3{
        font-size: 1.1rem;
        margin-top: .5rem;
    }

    .prime__card a{
        top: 18.5rem;
    }
}

@media screen and (max-width: 760px){
    .deal__card{
        width: 15rem;
        height: 15rem;
    }

    
    .deal__card:nth-child(n + 3){
        display: none;
    }

    .prime__card{
        max-height: 15rem;
        width: 17.25rem;
    }

    .prime__card > span{
        margin-top: 1.5rem;
        font-size: 14px;
    }

    .prime__card > h3{
        font-size: 1.1rem;
    }

    .prime__card a{
        top: 12.5rem;
    }
}

@media screen and (max-width: 560px){
    .prime__card {
        width: 100%;
    }

    .prime__row .deal__card{
        display: none;
    }

    .prime__row{
        grid-template-columns: 1fr;
    }
}